<h3>Ajouter un nouveau enregistrement dans stg_sugar05</h3>

<%= link_to('<< Back to List', {:controller => 'sugar05', :action => 'list'}, :class => 'back-link') %>

<div class="subject new">
  <%= simple_form_for(:stg_sugar05, :url => {:action => 'create'}) do |f| %>
      <%= f.input :year_sk, label: 'Période'  %>
      <%= f.input :prod_sk, label: 'Complexe', :as => :select, :collection => DimProducteur.all %>
      <%= f.input :product_sk, label: 'Produit', :as => :select, :collection => DimProduit.all%>
      <%= f.input :volume_tonnes, label: 'Prix (CFA)' %>
      <%= f.button :submit %>

      <div class='form-buttons'>
        <%= submit_tag('Enregistrer') %>
      </div>

  <% end %>
</div>