<h3>Ajouter un nouveau enregistrement dans stg_sugar02</h3>

<%= link_to('<< Back to List', {:controller => 'sugar02', :action => 'list'}, :class => 'back-link') %>

<div class="subject new">
  <%= simple_form_for(:stg_sugar02, :url => {:action => 'create'}) do |f| %>
      <%= f.input :month_sk, label: 'Période'  %>
      <%= f.input :loc_sk, label: 'Localité', :as => :select, :collection => DimLocalites.all %>
      <%= f.input :product_sk, label: 'Produit', :as => :select, :collection => DimProduit.all%>
      <%= f.input :price_xof, label: 'Prix (CFA)' %>
      <%= f.button :submit %>

      <div class='form-buttons'>
        <%= submit_tag('Enregistrer') %>
      </div>

  <% end %>
</div>