<% @page_title= 'Show Subject' %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="subject show">
  <h2>Show Subject</h2>

  <table summary="Subject detail view">
    <tr>
      <th>Type</th>
      <td><%= @publications.typublication_id %></td>
    </tr>
    <tr>
      <th>N°</th>
      <td><%= @publications.numpublication %></td>
    </tr>
    <tr>
      <th>Titre</th>
      <td><%= @publications.titrepublication %></td>
    </tr>
    <tr>
      <th>Descrition</th>
      <td><%= @publications.description %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @publications.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @publications.updated_at %></td>
    </tr>
  </table>

</div>
