<% @page_title= 'Subjects List' %>

<div class="subject list">
  <h2>Subjects</h2>

  <%= link_to('Ajout Localite', {:action => 'new'}, :class => 'action new') %>

  <table class="listing" summary="Subject list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Subject</th>
      <th>Visible</th>
      <th>Pages</th>
      <th>Actions</th>
    </tr>
    <% @localites.each do |localit| %>
        <tr>
          <td><%= localit.loc_sk %></td>
          <td><%= localit.loc_zone %></td>
          <td><%= localit.loc_district %></td>
          <td><%= localit.loc_region %></td>
          <td><%= localit.loc_dept %></td>
          <td><%= localit.loc_ville %></td>
          <td><%= localit.loc_sk %></td>
          <td class="actions">
            <%= link_to('Show', {:action => 'show', :id => subject.id}, :class => 'action show') %>
            <%= link_to("Edit", {:action => 'edit', :id => subject.id}, :class => 'action edit') %>
            <%= link_to('Delete', {:action => 'delete', :id => subject.id}, :class => 'action delete') %>
          </td>
        </tr>
    <% end %>
  </table>
</div>