<% @page_title= 'Modifier Produit' %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="subject edit">
  <h3>Modifier un enregistrement de la table dim_produits</h3>

  <%= form_for(:dim_produit, :url => {:action => 'update', :id => @dim_produit.id}) do |f| %>
  
    <table summary="Dim_produit form fields">
      <tr>
        <th>Code</th>
        <td><%= f.text_field(:product_code) %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:product_name) %></td>
      </tr>
      <tr>
        <th>Catégorie</th>
        <td><%= f.text_field(:product_category) %></td>
      </tr>
      <tr>
        <th>Date d'Effet</th>
        <td><%= f.text_field(:effective_date) %></td>
      </tr>
      <tr>
        <th>Date d'expiration</th>
        <td><%= f.text_field(:expiry_date) %></td>
      </tr>
    </table>
    
    <div class="form-buttons">
      <%= submit_tag("Modifier Dim_produits") %>
    </div>
    
  <% end %>
</div>
