<h3>Ajouter un nouveau enregistrement dans stg_sugar07</h3>

<%= link_to('<< Back to List', {:controller => 'sugar07', :action => 'list'}, :class => 'back-link') %>

<div class="subject new">
  <%= simple_form_for(:stg_sugar07, :url => {:action => 'create'}) do |f| %>
      <%= f.input :year_sk, label: 'Année'  %>
      <%= f.input :ctry_sk, label: 'Pays', :as => :select, :collection => DimCountrie.all %>
      <%= f.input :trans_sk, label: 'Type de transaction', :as => :select, :collection => DimTransaction.all %>
      <%= f.input :volume_ktonnes, label: 'Volume (Tonnes)' %>
      <%= f.submit 'Enregistrer' %>

      <div class='form-buttons'>
        <%= submit_tag('Enregistrer') %>
      </div>

  <% end %>
</div>