<h3>Ajouter un nouveau enregistrement dans stg_sugar06</h3>

<%= link_to('<< Back to List', {:controller => 'sugar06', :action => 'list'}, :class => 'back-link') %>

<div class="subject new">
  <%= simple_form_for(:stg_sugar06, :url => {:action => 'create'}) do |f| %>
      <%= f.input :year_sk, label: 'Année'  %>
      <%= f.input :prod_sk, label: 'Complexe', :as => :select, :collection => DimProducteur.all %>
      <%= f.input :product_sk, label: 'Produit', :as => :select, :collection => DimProduit.all%>
      <%= f.input :trans_sk, label: 'Type de transaction', :as => :select, :collection => DimTransaction.all %>
      <%= f.input :volume_tonnes, label: 'Volume (kg)' %>
      <%= f.button :submit %>

      <div class='form-buttons'>
        <%= submit_tag('Enregistrer') %>
      </div>

  <% end %>
</div>