<h3>Ajouter un nouveau enregistrement dans stg_sugar03</h3>

<%= link_to('<< Back to List', {:controller => 'sugar03', :action => 'list'}, :class => 'back-link') %>

<div class="subject new">
  <%= simple_form_for(:stg_sugar03, :url => {:action => 'create'}) do |f| %>
      <%= f.input :year_sk, label: 'Année'  %>
      <%= f.input :prod_sk, label: 'Complexe', :as => :select, :collection => DimProducteur.all %>
      <%= f.input :product_sk, label: 'Produit', :as => :select, :collection => DimProduit.all%>
      <%= f.input :irr_sk, label: 'Irrigation', :as => :select, :collection => DimIrrigation.all%>
      <%= f.input :qte_recoltee_tonnes, label: 'Quantité (Tonnes)', :as => :select, :collection => DimProduit.all%>
      <%= f.input :sup_recoltee_ha, label: 'Surface recoltée (ha)' %>
      <%= f.button :submit,label: 'Enregistrer' %>

      <div class='form-buttons'>
        <%= submit_tag('Enregistrer') %>
      </div>

  <% end %>
</div>